%head
  %script{:type => "text/javascript", :src=> "https://code.jquery.com/jquery-3.4.1.js", :integrity=> "sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=", :crossorigin=> "anonymous"}
  %script{:type => "text/javascript", :src=> "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", :integrity=> "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :crossorigin=> "anonymous"}
  %link{:rel => :stylesheet, :type => "text/css", :href => "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css", :crossorigin=>"anonymous"}

%h2 Create New Animal

%div#aniForm
  = form_tag animals_path do
    %div.form-row
      %div.form-group.col-sm-4.sm-3
        = label :animal, :name, 'Name'
        = text_field :animal, 'name', :class => "form-control"
      %div.form-group.col-sm-4.sm-3
        = label :animal, :tag, 'Tag'
        = text_field :animal, 'tag',  :class => "form-control"
    %div.form-row
      %div.form-group.col-sm-4.sm-3
        = label :animal, :common_name, 'Common Name'
        = text_field :animal, 'common_name',  :class => "form-control"
      %div.form-group.col-sm-4.sm-3
        = label :animal, :habitat_num, 'Habitat #'
        = text_field :animal, 'habitat_num', :class => "form-control"
    %div.form-row
      %div.form-group.col-sm-4.sm-3
        = label :animal, :species, 'Species'
        = text_field :animal, 'species', :class => "form-control"
      %div.form-group.col-sm-4.sm-3
        = label :animal, :age, 'Age'
        = text_field :animal, 'age', :class => "form-control"
    %div.form-row
      %div.form-group.col-sm-4.sm-3
        = label :animal, :weight, 'Weight'
        %div
          = text_field :animal, 'weight', :class => "form-control"
      %div.form-group.col-sm-4.sm-3
        = label :animal, :sex, 'Sex'
        %div
          = select :animal, :sex, ['Male', 'Female', 'N\A'], :class => "form-control"
    %div.form-row
      %div.form-group.col-sm-4.sm-3
        = label :animal, :dob, 'Date of Birth'
        %div
          = date_select :animal, :dob, :class => "form-control"
      %div.form-group.col-sm-4.sm-3
        = label :animal, :neutered, 'Neutered'
        %div
          = select :animal, :neutered, ['Yes','No','N\A'], :class => "form-control"
    = submit_tag 'Save New Animal', :class => "btn btn-primary"
    = link_to "Back", animals_path, :class => "btn btn-primary"