%link{:rel => :stylesheet, :type => "text/css", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity=> "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :crossorigin=>"anonymous"}

%h3 Details about #{@animal.name}

%ul#details
  %li 
    Tag:
    = @animal.tag
  %li
    Habitat #:
    = @animal.habitat_num
  %li 
    Common Name:
    = @animal.common_name
  %li 
    Species:
    = @animal.species
  %li 
    Sex:
    = @animal.sex
  %li 
    Neutered:
    = @animal.neutered
  %li 
    Age:
    = @animal.age
  %li 
    DOB:
    = @animal.dob.strftime("%m/%d/%Y")
  %li 
    Weight:
    = "#{@animal.weight} lbs"
%h4 Description:

= link_to 'Back to animal list', animals_path


%script{:type => "text/javascript", :src=> "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", :integrity=> "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :crossorigin=> "anonymous"}