%link{:rel => :stylesheet, :type => "text/css", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity=> "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :crossorigin=>"anonymous"}

%h3 Details about #{@animal.name}

%ul#details
  %li 
    Tag:
    = @animal.tag
  %li
    Habitat #:
    = @animal.habitat_num
  %li 
    Common Name:
    = @animal.common_name
  %li 
    Species:
    = @animal.species
  %li 
    Sex:
    = @animal.sex
  %li 
    Neutered:
    = @animal.neutered
  %li 
    Age:
    = @animal.age
  %li 
    DOB:
    = @animal.dob.strftime("%m/%d/%Y") if @animal.dob!=nil
  %li 
    Weight:
    = "#{@animal.weight} lbs"
%h4 Description:

= link_to 'Back to animal list', animals_path
= button_to 'Delete', animal_path(@animal), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-primary'

= form_for @animal, html: { enctype: "multipart/form-data" } do |f|
  = f.text_field :tag
  = f.fields_for :documents do |p|
    = p.hidden_field :file, value: p.object.cached_image_data
    = p.file_field   :file
    = p.check_box    :_destroy unless p.object.new_record?
  = file_field_tag "files[]", multiple: true
  = f.submit "Create"

%button.UppyOpenerBtn Open Dashboard

%div.DashboardContainer


%script{:type => "text/javascript", :src=> "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", :integrity=> "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :crossorigin=> "anonymous"}

%script{:type => "text/javascript", :src=> "assets/appuppy.js"}