%head
  %script{:type => "text/javascript", :src=> "https://code.jquery.com/jquery-3.4.1.js", :integrity=> "sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=", :crossorigin=> "anonymous"}
  %script{:type => "text/javascript", :src=> "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", :integrity=> "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :crossorigin=> "anonymous"}
  %link{:rel => :stylesheet, :type => "text/css", :href => "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css", :crossorigin=>"anonymous"}

%h3 Details about #{@animal.name}

%ul#details
  %li 
    Tag:
    = @animal.tag
  %li
    Habitat #:
    = @animal.habitat_num
  %li 
    Common Name:
    = @animal.common_name
  %li 
    Species:
    = @animal.species
  %li 
    Sex:
    = @animal.sex
  %li 
    Neutered:
    = @animal.neutered
  %li 
    Age:
    = @animal.age
  %li 
    DOB:
    = @animal.dob.strftime("%m/%d/%Y") if @animal.dob!=nil
  %li 
    Weight:
    = "#{@animal.weight} lbs"
%h4 Description:
%div#customButton.form-group.col-sm-4.sm-3
  = link_to 'Back to Animal List', animals_path, :class => "btn btn-primary"
  = link_to 'Edit', edit_animal_path(@animal), :class => "btn btn-primary"
%div#customButton.form-group.col-sm-4.sm-3
  = link_to 'Delete', animal_path(@animal), :method => :delete, :confirm => 'Are you sure?', :class => "btn btn-danger"

// = form_for @animal, html: { enctype: "multipart/form-data" } do |f|
//   = f.text_field :tag
//   = f.fields_for :documents do |p|
//     = p.hidden_field :file, value: p.object.cached_image_data
//     = p.file_field   :file
//     = p.check_box    :_destroy unless p.object.new_record?
//   = file_field_tag "files[]", multiple: true
//   = f.submit "Create"

%button.UppyModalOpenerBtn Open Dashboard
%div.DashboardContainer
= javascript_pack_tag 'uppy'

%script{:type => "text/javascript", :src=> "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", :integrity=> "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :crossorigin=> "anonymous"}

