
= form_with url: users_update_path, :method => :get do |f|  
    = user.id
    = f.check_box "users[#{user.id}][admin]", {checked: user.admin, :class => "form-control"}, 'true', 'false'
    = text_field "users[#{user.id}]", 'first_name', value: user.first_name, :class => "form-control"
    = text_field "users[#{user.id}]", 'last_name', value: user.last_name, :class => "form-control"
    = text_field "users[#{user.id}]", 'email', value: user.email, :class => "form-control"
    = f.check_box "users[#{user.id}][can_view]", {checked: user.can_view, :class => "form-control"}, 'true', 'false'
    = f.check_box "users[#{user.id}][can_edit]", {checked: user.can_edit, :class => "form-control"}, 'true', 'false'
    = f.check_box "users[#{user.id}][can_add]", {checked: user.can_add, :class => "form-control"}, 'true', 'false'
    = f.check_box "users[#{user.id}][can_delete]", {checked: user.can_delete, :class => "form-control"}, 'true', 'false'
    = local_time(user.created_at)
    = submit_tag 'Update', :class => "btn btn-primary"