%h2 Edit Existing Animal

%div#aniForm
  = form_tag animal_path(@animal),:method => :put do
    %div.form-row
      %div.form-group.col-sm-4.sm-3
        = label :animal, :name, 'Name'
        = text_field :animal, 'name', :class => "form-control"
      %div.form-group.col-sm-4.sm-3
        = label :animal, :tag, 'Tag'
        = text_field :animal, 'tag',  :class => "form-control"
    %div.form-row
      %div.form-group.col-sm-4.sm-3
        = label :animal, :common_name, 'Common Name'
        = text_field :animal, 'common_name',  :class => "form-control"
      %div.form-group.col-sm-4.sm-3
        = label :animal, :habitat_num, 'Habitat #'
        = text_field :animal, 'habitat_num', :class => "form-control"
    %div.form-row
      %div.form-group.col-sm-4.sm-3
        = label :animal, :species, 'Species'
        = text_field :animal, 'species', :class => "form-control"
      %div.form-group.col-sm-4.sm-3
        = label :animal, :age, 'Age'
        = text_field :animal, 'age', :class => "form-control"
    %div.form-row
      %div.form-group.col-sm-4.sm-3
        = label :animal, :weight, 'Weight'
        = text_field :animal, 'weight', :class => "form-control"
      %div.form-group.col-sm-4.sm-3
        = label :animal, :sex, 'Sex'
        = select(:animal, :sex,  options_for_select([['Male'], ['Female'], ['N\A']]), { }, { :class => 'form-control' })
        // = select :animal, :sex, ['Male', 'Female', 'N\A'], :class => "form-control"
    %div.form-row
      %div.form-group.col-sm-4.sm-3
        %label Date of Birth
        %input.form-control{:type => "date", :name => "animal[dob]", :value => @animal.dob}

      %div.form-group.col-sm-4.sm-3
        = label :animal, :neutered, 'Neutered'
        = select(:animal, :neutered,  options_for_select([['Yes'], ['No'], ['N\A']]), { }, { :class => 'form-control' })
        // = select :animal, :neutered, ['Yes','No','N\A'], :class => "form-control"
    
    %div.form-row 
      %ul.nav.nav-pills
        %li.nav-item.nav-link.pl-2
          = submit_tag 'Update Animal Info', :class => "btn btn-primary"
        %li.nav-item.nav-link
          = link_to "Cancel", animal_path(@animal), :class => "btn btn-secondary"