%head
  %link{:rel => :stylesheet, :type => "text/css", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", :crossorigin=>"anonymous"}
  %link{:rel => :stylesheet, :type => "text/css", :href => "https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css", :crossorigin=>"anonymous"}
  = stylesheet_link_tag "application"

%div.d-flex.flex-row 
  %div.col-6
    %h2 All Animals
  %div.col-6.mb-1
    = link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "btn btn-danger float-right ml-2"
    = link_to 'Add New Animal', new_animal_path, :class => "btn btn-success float-right ml-2"
    = link_to 'CSV Export', "/animals.csv", :class => "btn btn-success float-right ml-2"
    - if current_user.admin?
      = link_to 'Admin Dashboard', users_index_path, :class => "btn btn-primary float-right"
    
%table#dtSearch.table.table-striped.table-bordered.table-lg

%script{:type => "text/javascript", :src => "https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"}
%script{:type => "text/javascript", :src => "https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"}
:javascript
  $(document).ready(function () {
     var dataTable = $('#dtSearch').dataTable({
        // "processing": true,
        "serverSide": true,
        "pageLength": 50,
        "search": {
          "caseInsensitive": true
        },
        "ajax": '/animals',
        "columns": [
          {title: 'Tag'},
          {title: 'Name'},
          {title: 'Common Name'},
          {title: 'Habitat #'},
        ],
        "stateSave" : true,
        "drawCallback": function( settings ) {
          // alert( 'DataTables has redrawn the table' );
          
          $('#dtSearch tbody tr').click(function () {
            // console.log($(this).html());
      
            // redirect
            var href = $(this).find("a")[0].getAttribute('href');
            window.location = window.location.origin + href;
          });
        }
      });
      $('.dataTables_length').addClass('bs-select');
  });