%div.container
  %div.container
    %div.card-header.pt-0.pb-0
      %div.row
        %h1.display-4 Create New Animal
  
  %div.container.d-flex.flex-row.justify-content-center
    %div#aniForm.was-validated.col-12.mb-4
      = form_tag animals_path do
        %div.card.p-4
          %div.d-flex.flex-row
            %h1.font-weight-bold.mb-4= "General Info"
        
          %div.d-flex.flex-row
            %div.form-group.col-6.mb-0
              %p.note.text-danger Fields marked with * are required.
          %div.d-flex.flex-row
            %div.form-group.col-6
              = label :animal, :name, 'Name'
              %span.text-danger *
              = text_field :animal, 'name', :class => "form-control", :oninput => "this.value = this.value.replace(/[^a-zA-Z\-\. ]/g, '');", :required => ""
              .invalid-feedback Name Required
            %div.form-group.col-6
              = label :animal, :tag, 'Tag'
              %span.text-danger *
              /= text_field :animal, 'tag', :class => "form-control", :oninput => "this.value = this.value.replace(/[^a-zA-Z0-9]/g, '');", :required => ""
              = text_field :animal, 'tag', :class => "form-control", :required => ""
              .invalid-feedback Tag Number Required
          %div.d-flex.flex-row
            %div.form-group.col-6
              = label :animal, :common_name, 'Common Name'
              %span.text-danger *
              = text_field :animal, 'common_name', :class => "form-control", :oninput => "this.value = this.value.replace(/[^a-zA-Z\- ]/g, '');", :required => ""
              .invalid-feedback Common Name Required
            %div.form-group.col-6
              = label :animal, :habitat_num, 'Habitat #'
              %span.text-danger *
              = text_field :animal, 'habitat_num', :class => "form-control", :oninput => "this.value = this.value.replace(/[^0-9]/g, '');", :required => ""
              .invalid-feedback Habitat Number Required
          %div.d-flex.flex-row
            %div.form-group.col-6
              = label :animal, :weight, 'Weight'
              %span.text-danger *
              = text_field :animal, 'weight', :class => "form-control", :oninput => "this.value = this.value.replace(/[^0-9.]/g, '');", :type => "text", :required => ""
              .invalid-feedback Weight Required
            %div.form-group.col-6
              = label :animal, :weight_units, 'Weight Units'
              %span.text-danger *
              %div
                = select :animal, :weight_units, ['g', 'kg', 'lbs'], {include_blank: "Select..."}, {class: "form-control", required: true }
                .invalid-feedback Weight Units Required
          %div.d-flex.flex-row
            %div.form-group.col-6
              = label :animal, :species, 'Species'
              %span.text-danger *
              = text_field :animal, 'species', :class => "form-control", :oninput => "this.value = this.value.replace(/[^a-zA-Z\. ]/g, '');", :required => ""
              .invalid-feedback Species Required
            %div.form-group.col-6
              = label :animal, :neutered, 'Neutered'
              %span.text-danger *
              = select :animal, :neutered, ['Yes','No','N/A'], {include_blank: "Select..."}, {class: "form-control", required: true }
              .invalid-feedback Neutered Status Required
          %div.d-flex.flex-row
            %div.form-group.col-6
              = label :animal, :dob, 'Date of Birth'
              %span.text-danger *
              = date_field :animal, :dob, :class => "form-control", max: Date.today, :required => ""
              .invalid-feedback Date of Birth Required
            %div.form-group.col-6
              = label :animal, :sex, 'Sex'
              %span.text-danger *
              %div
                = select :animal, :sex, ['Male', 'Female', 'N/A'], {include_blank: "Select..."}, {class: "form-control", required: true }
                .invalid-feedback Sex Required
        
        %div.card.p-4
          %div.d-flex.flex-row.mt-2   
            %div.form-group.col-12
              %h1.font-weight-bold.mb-1= label :animal, :notes, "Notes", :class => "mb-0"
              = text_area :animal, 'notes', :class => "wysihtml5 form-control", :style => "height: 25vh; overflow-y: auto"
            
        = submit_tag 'Save New Animal', :class => "btn btn-primary"
        = link_to "Cancel", animals_path, :class => "btn btn-secondary ml-4"
