%head
  /%script{:type => "text/javascript", :src=> "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", :integrity=> "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :crossorigin=> "anonymous"}
  %script{:type => "text/javascript", :src => "https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"}
  /= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons", "documents"
  = stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons"
  = stylesheet_pack_tag 'application'

%div.header
  %div.container
    %div.header-body
      %div.row.align-items-center
        %div.col
          %ul.nav.nav-tabs.nav-overflow.card-header-tabs
            %li.nav-item
              = link_to 'Details', animal_path(@animal), :class => "nav-link"
            %li.nav-item
              = link_to 'Diet', animal_diet_path(@animal, @animal), :class => "nav-link"
            %li.nav-item
              = link_to 'Documents', animal_documents_path, :class => "nav-link active"

%div.container
  %div.row
    %div.col-12
      %div#filter-list.card{"data-toggle" => "lists", "data-options" => '{"valueNames": ["name", "meta"]}'.html_safe}
        %div.card-header
          %div.row.align-items-center
            %div.col
              %h4.card-header-title Files - #{@animal.name}
            %div.col-auto
              %div.dropdown
            %div.col-auto
              %button.UppyModalOpenerBtn.btn.btn-sm.btn-outline-primary Upload
              %div.DashboardContainer
              = form_with model: @animal, id: "form-uppy"
        %div.card-header
          %div.row
            %div.col-12
              %div.input-group.input-group-flush.input-group-merge
                %input.form-control.form-control-prepended.search{:type => "search", :placeholder => "Search"}
                %div.input-group-prepend
                  %div.input-group-text
                    %span.material-icons.md-18 search
        %div.card-body
          %ul#render-list.list-group.list-group-lg.list-group-flush.list.my-n4
            = render @documents
                      
  = will_paginate @documents, renderer: @custom_paginate_renderer

= javascript_pack_tag 'application'

:javascript
  var options = {
    valueNames: [ 'name', 'meta' ]
  };

  var filterList = new List('filter-list', options);
