%div.container 
  %h1.display-4 Editing #{@animal.name}'s Diet

  %div#aniForm
    = form_tag animal_diet_path(@animal), :method => :put do
      %div.form-row
        %div.form-group.col-sm-4.sm-3
          = label :diet, :dish, 'Instructions:'
          = text_area :diet, 'instructions', :class => "wysihtml5"
        %div.form-group.col-sm-4.sm-3
          = label :diet, :dish, 'Dish:'
          = text_area :diet, 'dish', :class => "wysihtml5"
      %div.form-row
        %div.form-group.col-sm-4.sm-3
          = label :diet, :am, 'AM:'
          = text_area :diet, 'am', :class => "wysihtml5"
        %div.form-group.col-sm-4.sm-3
          = label :diet, :pm, 'PM:'
          = text_area :diet, 'pm', :class => "wysihtml5"
        
      
      = submit_tag 'Update Diet Info', :class => "btn btn-primary"
      = link_to 'Back', animal_diet_path(@animal), :class => "btn btn-secondary ml-2"