%div.d-flex.flex-row
  %div.header.header.col-12
    %div.container
      %div.header-body
        %div.row.align-items-center
          %div.col
            %ul.nav.nav-tabs.nav-overflow.card-header-tabs
              %li.nav-item
                = link_to 'Details', animal_path(@animal), :class => "nav-link"
              %li.nav-item
                = link_to 'Diet', animal_diet_path, :class => "nav-link active"
              %li.nav-item
                = link_to 'Documents', animal_documents_path(@animal), :class => "nav-link"


.d-flex.flex-row
  .col-12.d-flex.justify-content-center
    %div
      %div.profile-animalpic.mb-3
        = image_tag(get_animal_profile_image(@animal.id), :class => "animal-profile-logo")
      %h1.text-center.display-4= @animal.name
      
              
.d-flex.flex-row
  %div.container  
    %div#animalCard.card
      %div.form-row.d-flex.justify-content-center.mt-5
        %div.form-group.col-sm-6.col-sm-3
          %div.card
            %div.card-body
              %h3.card-title.mb-0.font-weight-bold= label :diet, :dish, 'Instructions:'
              %div.card-text= simple_format(@diet.instructions)
      %div.form-row.d-flex.justify-content-center
        %div.form-group.col-sm-6.col-sm-3
          %div.card
            %div.card-body
              %h3.card-title.mb-0.font-weight-bold= label :diet, :dish, 'Dish:'
              %div.card-text= simple_format(@diet.dish)
      %div.form-row.d-flex.justify-content-center
        %div.form-group.col-sm-6.col-sm-3
          %div.card
            %div.card-body
              %h3.card-title.mb-0.font-weight-bold= label :diet, :am, 'AM:'
              %div.card-text= simple_format(@diet.am)
      %div.form-row.d-flex.justify-content-center
        %div.form-group.col-sm-6.col-sm-3
          %div.card
            %div.card-body
              %h3.card-title.mb-0.font-weight-bold= label :diet, :pm, 'PM:'
              %div.card-text= simple_format(@diet.pm)
    
    %ul.nav.nav-pills.mb-5
      %li.nav-item.nav-link
        = link_to 'Back to Animal List', animals_path, :class => "btn btn-secondary"
      - if has_edit_permissions
        %li.nav-item.nav-link
          = link_to 'Edit', edit_animal_diet_path(@animal), :class => "btn btn-primary"
      - if has_delete_permissions
        %li.nav-item.nav-link
          = link_to 'Reset Diets', animal_diet_path(@animal), :method => :delete, :confirm => 'Are you sure?', :class => "btn btn-danger"
