%div.d-flex.flex-row
  %div.header.header.col-12
    %div.container
      %div.header-body
        %div.row.align-items-center
          %div.col
            %ul.nav.nav-tabs.nav-overflow.card-header-tabs
              %li.nav-item
                = link_to 'Details', animal_path(@animal), :class => "nav-link"
              %li.nav-item
                = link_to 'Diet', animal_diet_path, :class => "nav-link active"
              %li.nav-item
                = link_to 'Documents', animal_documents_path(@animal), :class => "nav-link"

= render "animals/info"
        
%div.d-flex.flex-row
  %div.container.card.mb-3.pl-0.pr-0
    %div.form-row.d-flex.justify-content-center.mt-4.mb-3
      %div.form-group.col-sm-11.mb-0
        = simple_format("<span class='h1 font-weight-bold'>Dish: </span> <span class='h1'> #{@diet.dish} </span>")

%div.d-flex.flex-row
  %div.container.card.mb-3.pl-0.pr-0
    %div.form-row.d-flex.justify-content-center.mt-4.mb-3
      %div.form-group.col-sm-11
        %h1.font-weight-bold.mb-2= label :diet, :dish, 'Instructions', :class => "mb-1"
        %div.form-control{ :style => "height: 25vh; overflow-y: auto" }
          = simple_format(@diet.instructions)
          
%div.d-flex.flex-row
  %div.container.card.mb-3.pl-0.pr-0
    %div.form-row.d-flex.justify-content-center.mt-4.mb-3
      %div.form-group.col-sm-11
        %h1.font-weight-bold.mb-2= label :diet, :dish, 'AM Diet', :class => "mb-1"
        %div.form-control{ :style => "height: 25vh; overflow-y: auto" }
          = simple_format(@diet.am)
          
%div.d-flex.flex-row.mb-3
  %div.container.card.mb-3.pl-0.pr-0
    %div.form-row.d-flex.justify-content-center.mt-4.mb-3
      %div.form-group.col-sm-11
        %h1.font-weight-bold.mb-2= label :diet, :dish, 'PM Diet', :class => "mb-1"
        %div.form-control{ :style => "height: 25vh; overflow-y: auto" }
          = simple_format(@diet.pm)
          
%div.container   
  %ul.nav.nav-pills.mb-5
    %li.nav-item.nav-link
      = link_to 'Back to Animal List', animals_path, :class => "btn btn-secondary"
    - if has_edit_permissions
      %li.nav-item.nav-link
        = link_to 'Edit Diets', edit_animal_diet_path(@animal), :class => "btn btn-primary"
    - if has_delete_permissions
      %li.nav-item.nav-link
        = link_to 'Reset Diets', animal_diet_path(@animal), :method => :delete, :data => {:confirm => "Are you sure?"}, :class => "btn btn-danger"
