%div.header
  %div.container
    %div.header-body
      %div.row.align-items-center
        %div.col
          %ul.nav.nav-tabs.nav-overflow.card-header-tabs
            %li.nav-item
              = link_to 'Details', animal_path(@animal), :class => "nav-link"
            %li.nav-item
              = link_to 'Diet', animal_diet_path, :class => "nav-link active"
            %li.nav-item
              = link_to 'Documents', animal_documents_path(@animal), :class => "nav-link"

%div.container  
  %div#animalCard.card
    %div.form-row
      %div.form-group.col-sm-1.col-sm-3
        = image_tag("transparent logo.png", :size => "200x200")
      %div.form-group.col-sm-9.col-sm-3
        %h3= @animal.name
        %div.form-row
          %div.form-group.col-sm-6.col-sm-3
            %div.card{:style => "width: 22rem;"}
              %div.card-body
                %h5.card-title.mb-0= label :diet, :dish, 'Instructions:'
                %div.card-text= simple_format(@diet.instructions)
        %div.form-row
          %div.form-group.col-sm-6.col-sm-3
            %div.card{:style => "width: 22rem;"}
              %div.card-body
                %h5.card-title.mb-0= label :diet, :dish, 'Dish:'
                %div.card-text= simple_format(@diet.dish)
        %div.form-row
          %div.form-group.col-sm-6.col-sm-3
            %div.card{:style => "width: 22rem;"}
              %div.card-body
                %h5.card-title.mb-0= label :diet, :am, 'AM:'
                %div.card-text= simple_format(@diet.am)
        %div.form-row
          %div.form-group.col-sm-6.col-sm-3
            %div.card{:style => "width: 22rem;"}
              %div.card-body
                %h5.card-title.mb-0= label :diet, :pm, 'PM:'
                %div.card-text= simple_format(@diet.pm)
  %ul.nav.nav-pills
    %li.nav-item.nav-link
      = link_to 'Back to Animal List', animals_path, :class => "btn btn-primary"
    - if has_edit_permissions
      %li.nav-item.nav-link
        = link_to 'Edit', edit_animal_diet_path(@animal), :class => "btn btn-primary"
    - if has_delete_permissions
      %li.nav-item.nav-link
        = link_to 'Reset Diets', animal_diet_path(@animal), :method => :delete, :confirm => 'Are you sure?', :class => "btn btn-danger"
