!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}
    
    %title Oak Creek Zoological Conservatory
    %script{:type => "text/javascript", :src=> "https://code.jquery.com/jquery-3.4.1.slim.min.js", :integrity=> "sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n", :crossorigin=> "anonymous"}
    %script{:type => "text/javascript", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", :integrity =>"sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", :crossorigin => "anonymous"}
    %script{:type => "text/javascript", :src=> "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", :integrity=> "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :crossorigin=> "anonymous"}
    %link{:rel => :stylesheet, :type => "text/css", :href => "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css", :crossorigin=>"anonymous"}
    - unless content_for?(:stylesheet)
      = stylesheet_link_tag "documents", 'media' => 'all'
      // = stylesheet_link_tag "application", 'media' => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    
  %body
    - unless content_for?(:title)
      %nav#nav-top.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-5
        %div.container-fluid.ml-4.mr-4
          %button.navbar-toggler{"aria-controls" => "navbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-icon
          %a.navbar-brand.order-lg-first{:href => root_path}
            = image_tag "logo-notext.png"
            OakCreekDB
          %div#navbar.collapse.navbar-collapse.mr-auto.order-lg-first
            %ul.navbar-nav.mr-auto
              %li.nav-item
                = link_to 'Home', root_path, class: "nav-link"
              - if current_user.admin?
                %li.nav-item
                  = link_to 'Admin Dashboard', users_index_path, class: "nav-link"
          %div.navbar-user
            %div.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                #{current_user.first_name} #{current_user.last_name}
              %div.dropdown-menu.dropdown-menu-right
                = link_to 'Profile', edit_user_registration_path, :class => "dropdown-item"
                = link_to 'Settings', "#", :class => "dropdown-item"
                %hr.dropdown-divider/
                = link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "dropdown-item text-danger"
                
    - unless content_for?(:alerts)
      = render "layouts/alerts"

    = yield
