!!!
%html
  %head
    =stylesheet_link_tag "application"
    %title Oak Creek Zoological Conservatory
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %h1.title
      = link_to image_tag("transparent logo.png", :size => "50x50"), animals_path
      = link_to "Oak Creek Zoological Conservatory", animals_path, :id => "banner", :class => "btn btn-link"
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      - elsif flash[:alert]
        #alert.message= flash[:alert]

      = yield
